<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MyChair.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>12A750861C8A73B60086E400</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>12A7509C1C8A73B60086E400</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>12A750A71C8A73B70086E400</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
